body {
    font-family: "Open Sans", sans-serif;
  }
  
.heading {
    background-color: #3c3c3c;
    color: #ffffff;
    text-align: center;
    padding: 10px;
  }

  .fiveDayColor {
    padding: 20px;
    background-color: blue;
    color: white;
    float: left;
    margin: 10px;
    border: 1px solid lightgray;

}